<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout/base :: html">
<head>
    <title id="tituloPagina">FELICITA - Sistema de Reservas para Salones de Belleza</title>
</head>
<body>
    <div id="contenidoPagina">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-4 fw-bold mb-4">Bienvenido a FELICITA</h1>
                    <p class="lead">Sistema de reservas para salones de belleza y barberías</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>